# The token from a Discord account used for the bot:
# https://github.com/reactiflux/discord-irc/wiki/Creating-a-discord-bot-&-getting-a-token
DISCORD_TOKEN=""

# The name of the Discord server to operate in.
DISCORD_SERVER_NAME=""

# The name of the Discord voice channel category that all of the bot-managed voice channels will
# reside in.
VOICE_CATEGORY_NAME=""

# The name of the Discord voice channel that users will connect to in order for the bot to generate
# a new voice channel.
VOICE_JOIN_CHANNEL_NAME=""

# The name of the questions forum.
QUESTION_FORUM_NAME=""

# The name of the questions forum.
PROPOSAL_FORUM_NAME=""

# A comma separated list of Discord user IDs.
ADMIN_IDS=""
