# The token from a Discord account used for the bot
# https://github.com/reactiflux/discord-irc/wiki/Creating-a-discord-bot-&-getting-a-token
DISCORD_TOKEN=

# The ID of the Discord server to operate in
DISCORD_SERVER_ID=""

# The ID of the Discord voice channel category that all of the bot-managed voice channels will
# reside in
PICKUP_GAME_CATEGORY_ID=

# The ID of the Discord voice channel that users will connect to in order for the bot to generate a
# new voice channel
CREATE_VOICE_CHANNEL_ID=

# A comma separated list of Discord user IDs
ADMIN_IDS=
